<nz-layout class="app-layout">
  <nz-sider
    class="menu-sidebar"
    nzCollapsible
    nzBreakpoint="md"
    [nzWidth]="200"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null"
    [nzCollapsedWidth]="0"
  >
    <div class="sidebar-logo">
      <a href="/" target="_blank">
        <h1>Web File Manager</h1>
      </a>
    </div>
    <ul
      nz-menu
      nzTheme="dark"
      nzMode="inline"
      [nzInlineCollapsed]="isCollapsed"
    >
      <li nz-submenu nzOpen nzTitle="文件管理" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/home">主目录</a>
          </li>
          <ng-container *ngFor="let info of files$ | async">
            <li nz-menu-item nzMatchRouter *ngIf="info.is_dir">
              <a [routerLink]="['/home', info.name]">
                {{ info.name }}
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="配置" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>基本配置</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <i
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
          ></i>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
